<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angular2-controller</title>
	<script src="angular.js"></script>
</head>
<body>
	<div ng-app="my-app">
		<div ng-controller="firstController">
			<input type="text" ng-model="name"><br>
			输入的内容为：<p ng-bind="name"></p>
			<p>hello --- {{hello}}</p>
			<button ng-click="changeName()">改变名</button>
			{{obj.name}}
			{{obj.age}}
			{{obj.fun()}}
			{{rootFun}}
		</div>
		<br>
		<div ng-controller="secondController">
			{{hello}}
			<button ng-click="changeName()">修改名</button>
		</div>
	</div>
</body>
	<script type="text/javascript">
		var myApp = angular.module("my-app", []);
		myApp.controller("firstController",["$scope",function($scope){
			$scope.name="猛男！";
			$scope.obj = {
				name : "zhangsan",
				age : 30 ,
				fun : function(){
					console.log("zhangsan log");
					return "zhangsan log";
				}
			}
			$scope.rootFun = function(){
				return "函数调用成功";
			}
			$scope.changeName = function(){
				this.name= "屌丝！";
			}

		}])
		myApp.controller("secondController", ["$scope" ,function($scope){
			$scope.hello = "你好，搬砖的";
				$scope.changeName = function(){
					this.hello = "呵呵";
			}
		}])
	</script>
</html>