<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="angular.js"></script>
</head>
<body>
	<div ng-app="myapp">
		<div ng-controller="firstController">
			<input type="text" ng-model="name">
			<p ng-bind="name"></p>
			<p> hello --- {{hello}}</p>
			<button ng-click="changeName()">改变名</button>
			{{obj.name}}
			{{obj.age}}
			{{obj.fun()}}
			{{rootFun}}
		</div>
	<br>
	<div ng-controller="secondController">
		{{hello}}
		<button ng-click="changeName()">修改名</button>
	</div>
	</div>

</body>
	<script type="text/javascript">
		var myApp=angular.module("myapp" ,[]);
		myApp.controller("firstController",["$scope" ,function($scope){
			$scope.name="源氏";
			$scope.obj={
				name:"源氏",
				age:27,
				fun: function(){
					return "弟弟";
				}
			}
			$scope.rootFun=function(){
				return "函数可以用"
			}
			$scope.changeName = function(){
				this.name = "生克斯 无视之名不可预期";
			}
		}])
		myApp.controller("secondController" ,["$scope" ,function($scope){
			$scope.hello ="嘿 boy";
			$scope.changeName=function(){
				this.hello ="嘿 man";
			}
		}])
	</script>
</html>