<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<script type="text/javascript" src="angular.js"></script>
<body>
	<div ng-app="myapp">
		<div ng-controller="firstController">
			<input type="text" ng-model="name">
			<p ng-bind="name"></p>
			<p>hello --- {{hello}}</p>
			<button ng-click="changeName()">改！</button>
			{{obj.name}}
			{{obj.age}}
			{{obj.fun()}}
			{{rootFun}}
		</div>
		<div ng-controller="secondController">
			{{hello}}
			<button ng-click="changeName()">改字</button>
		</div>
	</div>
</body>
<script type="text/javascript">
	var myApp=angular.module("myapp" ,[]);
		myApp.controller("firstController" ,["$scope" ,function($scope){
			$scope.name= "源氏";
			$scope.obj={
				name:"源氏",
				age:30,
				fun: function(){
					return "没扣细碎";
				}
			}
			$scope.rootFun=function(){
				return "有基佬开我苦练";
			}
			$scope.changeName =function(){
				this.name="院士在此";
			}
		}])
		myApp.controller("secondController" ,["$scope" ,function($scope){
			$scope.hello="hi";
			$scope.changeName=function(){
				this.hello ="yo";
			}
		}])
</script>
</html>