@charset "UTF-8";
/* 呵呵 */

$p:1px 2px 3px 4px;
$maps:(width:12px,color:red);
// $width:200px;
// $width:24px !default;
$height:24px;
$background:red;
div{
	// $width:222px;
	$width:34px !global;
	width:$width;
	height:$height;
	background:$background;
	padding:(nth($p,1)nth($p,2));
}
.box{
	div{
		width:1px;
	}
	&:before{
		color:red;
	}
	& .content{
		width: 12px;
	}
	a :hover{
		width: 12px;
	}
	background-color:map-get($maps,color);
	width:$width;
}
.alert{
	@extend .box;
	width:24px;
	@extend %md5;
}
%md5{
	color:red;
	background:1px solid #fff;
}
@mixin border-rad($rad...){
	-webkit-border-radius:$rad;
	-moz-border-radius:$rad;
	-o-border-radius:$rad;
	-ms-border-radius:$rad;
	border-radius:$rad;
}
.box{
	@include border-rad(3px 30px 4px 4px);
}