
@mixin tc($rad...){
	-webkit-transition:all $rad;
	-moz-transition:all $rad;
	-o-transition:all $rad;
	-ms-transition:all $rad;
	transition:all $rad;

}
@mixin to($rad...){
	-webkit-transform-origin:$rad;
	-moz-transform-origin:$rad;
	-o-transform-origin:$rad;
	-ms-transform-origin:$rad;
	transform-origin:$rad;

}
@mixin ts($rad...){
	-webkit-transform-style:$rad;
	-moz-transform-style:$rad;
	-o-transform-style:$rad;
	-ms-transform-style:$rad;
	transform-style:$rad;

}
@mixin tfxyz($Y,$X,$Z){
	-webkit-transform: rotateY($Y) rotateX($X) translateZ($Z);
	-moz-transform: rotateY($Y) rotateX($X) translateZ($Z);
	-o-transform: rotateY($Y) rotateX($X) translateZ($Z);
	-ms-transform: rotateY($Y) rotateX($X) translateZ($Z);
	transform: rotateY($Y) rotateX($X) translateZ($Z);

}
img{
	width:190px;
	position:absolute;
	left:50%;
	@include tc(3s);
	margin-left: -95px;
	border:1px solid blue;
	box-shadow: 0 0 10px gray;

}
.stage{
		perspective:800px;
		padding: 50px 50px;
		position: relative;

		/*transform-origin:50% 40%;*/
		/*height: 300px;*/
		height:1000px;
		

	}
.container{
		
		@include to(50% 50%);
		/*height: 1000px;*/
		/*margin-top: 8000px;*/
		padding-top:400px;
		@include ts(preserve-3d);
		@include tc(2s);
		position: absolute;
		left: 50%;
		

	/*	transform-origin: 0 0;*/
	}
:root{
		position: relative;
}

 @for $i from 1 to 30 {
	.container{
		&:hover{
			.img1{
				&:nth-child(#{$i}){
					@if $i < 10 {
						@include tfxyz(40deg * $i ,0deg,400px);	
					}
					@else if $i < 19 {
						@include tfxyz(40deg *  ( $i - 9) ,40deg,400px);
					}
					@else if $i < 28 {
						@include tfxyz(40deg *  ( $i - 18) ,-40deg,400px);
					}
					
					@else if $i <= 28 {
						@include tfxyz(0deg ,90deg,400px);
					}	
						
					@else{
						transform:rotateY(90deg) rotateX(-90deg) translateZ(400px);
					}
					
	
					}	
				}
			}
		
	}
}
